# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Django
*.sqlite3
staticfiles/
media/

# Build
dist/
build/

# Editor
.vscode/*
!.vscode/extensions.json
.DS_Store

# Logs
*.log
npm-debug.log*